.course{
    &-center{
        display: none;
        position: fixed;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        background-color: rgba(0, 0, 0, 0.4);
        align-items: center;
        z-index: 10;
    }
    &-container{
        display: block;
        width: 60%;
        height: 20vw;
        margin: 50px auto;    
        background-color: white;   
        padding: 25px; 
        border-radius: 30px;
        animation: modalFadeIn ease 0.5s;
        &-head{
            width: 100%;
            height: 90%;
            display: flex;
            align-items: center;
            &-img{
                height: 100%;
                width: 25%;
                padding: 10px;
                border-radius: 5px;
                display: flex;
                align-items: center;
                &-pic{
                    width: 100%;
                }
            }
            &-center{
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 75%;
                &-table{
                    width: 100%;
                    padding: 5px 25px;
                    display: grid;
                    grid-template-columns: 25% 35% 60%;
                    row-gap: 5px;
                }
            }
        }
        &-bottom{
            padding: 10px;
            position: relative;
            &-btn{
                position: absolute;
                padding: 5px;
                background-color: $sub-primary-color;
                border-radius: 10px;
                color: white;
                font-weight: 700;
                font-size: 12px;
                right: 0; 
                top: 50%;
                &:hover{
                    opacity: 0.8;
                }
            }
        }
    }
}

.course-container-head-center h1{
    font-size: 35px;
    font-weight: 700;
    color: $primary-color; 
    width: 100%;
    text-align: center;
    text-transform: uppercase;  
    padding-top: 10px;
}

.course-container-head-center p{
    padding: 5px 25px;
    font-size: 10px;
    font-weight: 400;
    color: $primary-color;
    text-align: justify;
}

.course-container-head-center-table h3{
    color: black;
    font-size: 16px;
    font-weight: 700;
}

.course-container-head-center-table h4{
    color: black;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
}

.open{
    display: flex;
}

@keyframes modalFadeIn{
    from{
        opacity: 0;
        transform: translateY(-100px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}