#csvc-section{
    padding: 100px 0;
}
.csvc{
    background-color: $primary-color;
    display: flex;
    justify-content: center;
    gap: 5%;
    position: relative;
    &-left{
        width: 35%;
        &-line{
            content: " ";
            width: 100%;
            height: 14px;
            background-color: $sub-primary-color;
            margin-top: 50px;
        }
        &-heading{
            text-align: right;
            font-weight: 800;
            font-size: 64px;
            line-height: 80px;
            color: white;
            padding-top: 50px;
        }
        &-more{
            font-weight: 700;
            font-size: 14px;
            text-align: right;
            color: white;
            padding: 15px 10px;
        }
    }
    &-right{
        width: 35%;
        &-img{
            width: 100%;
        }
    }
}