html {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

*, *::before, *::after {
  box-sizing: border-box;
}

input, textarea, section, button {
  outline: none;
}

input {
  line-height: normal;
}

label, button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

.wraper {
  max-width: 1240px;
  margin: 0 auto;
}

body {
  line-height: 1;
  color: white;
  font-family: "Montserrat", sans-serif;
}

.home {
  background-color: #26335D;
  position: relative;
  padding-bottom: 100px;
}

.header {
  max-width: 100%;
  height: 91px;
  background-color: #26335D;
  position: fixed;
  z-index: 10;
  left: 0;
  right: 0;
  top: 0;
}
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}
.header-container-logo {
  display: flex;
  align-items: center;
  gap: 15px;
  padding-left: 100px;
}
.header-container-logo-img {
  height: 55px;
}
.header-container-logo-heading {
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
  text-align: center;
}
.header-container-logo-sub {
  font-size: 15px;
  text-align: center;
  margin-top: 2px;
}
.header-container-btn {
  color: white;
  margin-right: 50px;
  padding: 15px 30px;
  background-color: #E74040;
  border-radius: 10px;
  font-weight: 700;
  text-decoration: none;
}

.menu {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
.menu-item-link {
  color: white;
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
}

.menu > li:hover > a {
  color: #E74040;
}

.content {
  position: absolute;
  top: 175px;
  left: 175px;
}
.content-heading {
  width: 545px;
  color: #FF7B52;
  font-size: 58px;
  line-height: 80px;
}
.content-sub-heading {
  color: #26335D;
  font-size: 20px;
  font-weight: 400;
  margin: 45px 0;
  text-transform: uppercase;
}
.content-btn {
  color: white;
  padding: 15px 25px;
  background-color: #26335D;
  border-radius: 10px;
  width: 165px;
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
}

.logo {
  position: absolute;
  top: 150px;
  right: 500px;
}
.logo-front {
  position: absolute;
  top: 0;
  width: 400px;
  height: 400px;
  background: #143980;
  display: flex;
  align-items: center;
  transform: rotate(15deg);
  border-radius: 75px;
  z-index: 3;
}
.logo-front-img {
  width: 65%;
  margin: auto auto;
}
.logo-back {
  position: absolute;
  top: 35px;
  left: 35px;
  width: 400px;
  height: 400px;
  border-radius: 75px;
  background-color: #E74040;
  transform: rotate(15deg);
}
.logo-back1 {
  position: absolute;
  top: 335px;
  left: -375px;
  width: 70px;
  height: 70px;
  border-radius: 15px;
  background-color: #FBB52F;
  transform: rotate(15deg);
}
.logo-back2 {
  position: absolute;
  top: 275px;
  left: -250px;
  width: 35px;
  height: 35px;
  border-radius: 10px;
  background-color: #FBB52F;
  transform: rotate(15deg);
}
.logo-back3 {
  position: absolute;
  top: 125px;
  left: -125px;
  width: 70px;
  height: 70px;
  border-radius: 15px;
  background-color: #FF7B52;
  transform: rotate(15deg);
}

.information {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0 40px;
  padding: 0 175px;
}
.information-box {
  width: cacl(100%/3);
  padding: 35px 40px;
  background-color: white;
}
.information-box-img {
  height: 72px;
}
.information-box-heading {
  color: #26335D;
  font-size: 16px;
  font-weight: 700;
  margin-top: 20px;
}
.information-box-line {
  width: 50%;
  height: 2px;
  background-color: #E74040;
  margin: 20px 0;
}
.information-box-text {
  color: #26335D;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  text-align: justify;
}

.student {
  background-color: white;
}
.student-line {
  width: 30%;
  height: 14px;
  background-color: #E74040;
  margin: 0 auto;
  margin-top: 100px;
}
.student-heading {
  color: #26335D;
  font-size: 80px;
  font-weight: 700;
  text-align: center;
  margin-top: 50px;
}
.student-sub-heading {
  color: #E74040;
  font-weight: 400;
  text-align: center;
  margin-top: 10px;
}
.student-content {
  position: relative;
}
.student-content-text {
  -webkit-text-stroke: 2px #26335D;
  font-size: 80px;
  text-align: center;
  padding: 30px 0;
  margin-top: 60px;
}
.student-content-back {
  content: " ";
  width: 600px;
  height: 400px;
  background-color: #26335D;
  position: absolute;
  top: calc((100% - 500px) / 2);
  left: calc((100% - 600px) / 2);
}
.student-content-back-top {
  display: flex;
  align-items: center;
  gap: 15px;
  padding-top: 25px;
  padding-left: 25px;
}
.student-content-back-top-img {
  height: 55px;
}
.student-content-back-top-text {
  padding-left: 15px;
  border-left: 2px solid white;
}
.student-content-back-top-text-1 {
  font-weight: 550;
  color: white;
  font-size: 14px;
}
.student-content-back-top-text-2 {
  font-weight: 550;
  color: white;
  font-size: 18px;
  padding-top: 2px;
}
.student-content-back-bottom {
  display: flex;
  align-items: center;
  padding: 0 20px;
  gap: 30px;
  margin-top: 40px;
}
.student-content-back-bottom-left {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.student-content-back-bottom-left-img {
  content: " ";
  width: 150px;
  height: 200px;
  border: white 1px solid;
  margin: 0 auto;
  margin-bottom: 15px;
}
.student-content-back-bottom-left-msv {
  position: relative;
  margin: 0 auto;
  padding: 0 20px;
}
.student-content-back-bottom-left-msv-input {
  border: 1px solid rgba(255, 255, 255, 0.192);
  border-radius: 5px;
  height: 30px;
  width: 100%;
  padding: 0 5%;
  background: none;
  transition: 0.25s ease;
  color: white;
  font-family: "Montserrat", sans-serif;
  text-align: center;
}
.student-content-back-bottom-left-msv-input:focus {
  border-color: white;
}
.student-content-back-bottom-left-msv-label {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: calc(5% + 20px);
  font-size: 10px;
  color: rgba(255, 255, 255, 0.192);
  pointer-events: none;
  transition: 0.25s ease;
}
.student-content-back-bottom-right {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.student-content-back-bottom-right-heading {
  width: 100%;
  font-weight: 700;
  color: white;
  font-size: 35px;
  text-align: center;
  padding-bottom: 2px;
}
.student-content-back-bottom-right-name {
  position: relative;
}
.student-content-back-bottom-right-name-input {
  border: 1px solid rgba(255, 255, 255, 0.192);
  border-radius: 5px;
  height: 40px;
  width: 100%;
  padding: 0 5%;
  background: none;
  transition: 0.25s ease;
  color: white;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: 550;
  text-transform: uppercase;
}
.student-content-back-bottom-right-name-input:focus {
  border-color: white;
}
.student-content-back-bottom-right-name-label {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 5%;
  font-size: 10px;
  color: rgba(255, 255, 255, 0.192);
  pointer-events: none;
  transition: 0.25s ease;
}
.student-content-back-bottom-right-date {
  position: relative;
}
.student-content-back-bottom-right-date-input {
  border: 1px solid rgba(255, 255, 255, 0.192);
  border-radius: 5px;
  height: 30px;
  width: 100%;
  padding: 0 5%;
  background: none;
  transition: 0.25s ease;
  color: white;
  font-family: "Montserrat", sans-serif;
}
.student-content-back-bottom-right-date-input:focus {
  border-color: white;
}
.student-content-back-bottom-right-date-label {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 5%;
  font-size: 10px;
  color: rgba(255, 255, 255, 0.192);
  pointer-events: none;
  transition: 0.25s ease;
}
.student-content-back-bottom-right-class {
  position: relative;
}
.student-content-back-bottom-right-class-input {
  border: 1px solid rgba(255, 255, 255, 0.192);
  border-radius: 5px;
  height: 30px;
  width: 100%;
  padding: 0 5%;
  background: none;
  transition: 0.25s ease;
  color: white;
  font-family: "Montserrat", sans-serif;
}
.student-content-back-bottom-right-class-input:focus {
  border-color: white;
}
.student-content-back-bottom-right-class-label {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 5%;
  font-size: 10px;
  color: rgba(255, 255, 255, 0.192);
  pointer-events: none;
  transition: 0.25s ease;
}
.student-content-back-bottom-right-year {
  position: relative;
}
.student-content-back-bottom-right-year-input {
  border: 1px solid rgba(255, 255, 255, 0.192);
  border-radius: 5px;
  height: 30px;
  width: 100%;
  padding: 0 5%;
  background: none;
  transition: 0.25s ease;
  color: white;
  font-family: "Montserrat", sans-serif;
}
.student-content-back-bottom-right-year-input:focus {
  border-color: white;
}
.student-content-back-bottom-right-year-label {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 5%;
  font-size: 10px;
  color: rgba(255, 255, 255, 0.192);
  pointer-events: none;
  transition: 0.25s ease;
}
.student-footer-img {
  width: 100%;
}

.student-content-back-bottom-left-msv-input:not(:placeholder-shown) + .student-content-back-bottom-left-msv-label,
.student-content-back-bottom-left-msv-input:focus + .student-content-back-bottom-left-msv-label {
  color: white;
  top: 0;
  font-size: 8px;
  display: inline-block;
  padding: 0 5px;
  background-color: #26335D;
}

.student-content-back-bottom-right-name-input:not(:placeholder-shown) + .student-content-back-bottom-right-name-label,
.student-content-back-bottom-right-name-input:focus + .student-content-back-bottom-right-name-label {
  color: white;
  top: 0;
  font-size: 8px;
  display: inline-block;
  padding: 0 5px;
  background-color: #26335D;
}

.student-content-back-bottom-right-date-input:not(:placeholder-shown) + .student-content-back-bottom-right-date-label,
.student-content-back-bottom-right-date-input:focus + .student-content-back-bottom-right-date-label {
  color: white;
  top: 0;
  font-size: 8px;
  display: inline-block;
  padding: 0 5px;
  background-color: #26335D;
}

.student-content-back-bottom-right-class-input:not(:placeholder-shown) + .student-content-back-bottom-right-class-label,
.student-content-back-bottom-right-class-input:focus + .student-content-back-bottom-right-class-label {
  color: white;
  top: 0;
  font-size: 8px;
  display: inline-block;
  padding: 0 5px;
  background-color: #26335D;
}

.student-content-back-bottom-right-year-input:not(:placeholder-shown) + .student-content-back-bottom-right-year-label,
.student-content-back-bottom-right-year-input:focus + .student-content-back-bottom-right-year-label {
  color: white;
  top: 0;
  font-size: 8px;
  display: inline-block;
  padding: 0 5px;
  background-color: #26335D;
}

/*# sourceMappingURL=style.css.map */
