html {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

*, *::before, *::after {
  box-sizing: border-box;
}

input, textarea, section, button {
  outline: none;
}

input {
  line-height: normal;
}

label, button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

.wraper {
  max-width: 1240px;
  margin: 0 auto;
}

body {
  line-height: 1;
  color: white;
  font-family: "Montserrat", sans-serif;
  min-width: 740px;
}

.home {
  background-color: #26335D;
  position: relative;
  padding-bottom: 100px;
}

.header {
  max-width: 100%;
  height: 91px;
  background-color: #26335D;
  position: fixed;
  z-index: 10;
  left: 0;
  right: 0;
  top: 0;
}
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}
.header-container-logo {
  display: flex;
  align-items: center;
  gap: 15px;
  padding-left: 100px;
}
.header-container-logo-img {
  height: 55px;
}
.header-container-logo-heading {
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
  text-align: center;
}
.header-container-logo-sub {
  font-size: 15px;
  text-align: center;
  margin-top: 2px;
}
.header-container-btn {
  color: white;
  margin-right: 50px;
  padding: 15px 30px;
  background-color: #E74040;
  border-radius: 10px;
  font-weight: 700;
  text-decoration: none;
}
.header-container-btn:hover {
  opacity: 0.85;
}

.menu {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
.menu-item-link {
  color: white;
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
}
.menu-btn {
  display: none;
  width: 35px;
  height: 35px;
  margin-right: 30px;
}
.menu-btn div {
  width: 100%;
  height: 100%;
}
.menu-btn div i {
  margin: 0 auto;
  line-height: 100%;
  color: white;
  font-size: 35px;
}
.menu-overlay {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
  animation: fadeIn linear 0.3s;
}
.menu-mobile {
  transform: translateX(100%);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  width: 300px;
  max-width: 100%;
  background-color: rgba(255, 255, 255, 0.95);
  list-style: none;
  opacity: 0;
  transition: all linear 0.3s;
}
.menu-mobile-check:checked ~ .menu-overlay {
  display: block;
}
.menu-mobile-check:checked ~ .menu-mobile {
  transform: translateX(0);
  opacity: 1;
}
.menu-mobile-header {
  width: 100%;
  height: 75px;
  padding: 5px 20px;
  margin-top: 5px;
  border-bottom: 2px #E74040 solid;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.menu-mobile-header-logo {
  width: 65px;
  height: 65px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.menu-mobile-header-logo-img {
  height: 70%;
}
.menu-mobile-header-logo-heading {
  color: #26335D;
}
.menu-mobile-header-logo-sub {
  color: #26335D;
}
.menu-mobile-item {
  margin-top: 20px;
}
.menu-mobile-item-link {
  text-decoration: none;
  color: #26335D;
  font-weight: 500;
  display: block;
  padding: 8px 20px;
  font-size: 1.2rem;
}

.ti-close {
  width: 100%;
  height: 100%;
  color: #26335D;
  font-weight: bolder;
  font-size: 1.1rem;
}

.menu > li:hover > a {
  color: #E74040;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.content {
  position: absolute;
  top: 175px;
  left: 5%;
}
.content-heading {
  width: 545px;
  color: #FF7B52;
  font-size: 58px;
  line-height: 80px;
}
.content-sub-heading {
  color: #26335D;
  font-size: 24px;
  font-weight: 400;
  margin: 45px 0;
  text-transform: uppercase;
}
.content-btn {
  color: white;
  padding: 15px 25px;
  background-color: #26335D;
  border-radius: 10px;
  width: 165px;
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
}
.content-btn:hover {
  opacity: 0.85;
}

.logo {
  position: absolute;
  top: 150px;
  right: 40%;
}
.logo-front {
  position: absolute;
  top: 0;
  width: 400px;
  height: 400px;
  background: #143980;
  display: flex;
  align-items: center;
  transform: rotate(15deg);
  border-radius: 75px;
  z-index: 3;
  box-shadow: 45px 35px #E74040;
}
.logo-front-img {
  width: 65%;
  margin: auto auto;
}
.logo-back1 {
  position: absolute;
  top: 335px;
  left: -375px;
  width: 70px;
  height: 70px;
  border-radius: 15px;
  background-color: #FBB52F;
  transform: rotate(15deg);
}
.logo-back2 {
  position: absolute;
  top: 275px;
  left: -250px;
  width: 35px;
  height: 35px;
  border-radius: 10px;
  background-color: #FBB52F;
  transform: rotate(15deg);
}
.logo-back3 {
  position: absolute;
  top: 125px;
  left: -125px;
  width: 70px;
  height: 70px;
  border-radius: 15px;
  background-color: #FF7B52;
  transform: rotate(15deg);
}

.information {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0 40px;
  padding: 0 175px;
}
.information-box {
  width: cacl(100%/3);
  padding: 35px 40px;
  background-color: white;
}
.information-box-img {
  height: 72px;
}
.information-box-heading {
  color: #26335D;
  font-size: 16px;
  font-weight: 700;
  margin-top: 20px;
}
.information-box-line {
  width: 50%;
  height: 2px;
  background-color: #E74040;
  margin: 20px 0;
}
.information-box-text {
  color: #26335D;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  text-align: justify;
}

.history {
  padding: 100px 75px;
  background: url(/assets/img/History/background.png), white;
  background-size: cover;
  background-repeat: no-repeat;
}
.history-heading {
  color: black;
  font-size: 68px;
  font-weight: 800;
  margin-top: 50px;
  text-align: center;
  text-transform: uppercase;
}
.history-line {
  content: "";
  width: 30%;
  height: 14px;
  background-color: #E74040;
  margin: 20px auto;
  margin-bottom: 60px;
}
.history-top h1 {
  display: none;
  font-size: 42px;
  font-weight: 700;
  color: #E74040;
  padding: 30px;
  text-shadow: 3px 3px #FBB52F;
  text-align: center;
}
.history-main {
  display: grid;
  grid-template-columns: 50% 50%;
}
.history-main-content {
  width: 100%;
  min-height: 100px;
  padding-top: 30px;
  color: black;
  position: relative;
}
.history-main-content-point {
  position: absolute;
  content: " ";
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: #E74040;
}
.history-main-content h3 {
  font-size: 28px;
  font-weight: 700;
  text-shadow: 2px 2px #FBB52F;
}
.history-main-content p {
  padding: 15px 0;
  font-size: 20px;
  line-height: 1.6;
}
.history-main-heading {
  grid-column-start: 1;
  grid-column-end: 3;
  padding: 40px;
}
.history-main-heading h1 {
  text-align: center;
  color: #E74040;
  text-shadow: 5px 5px #FBB52F;
  font-size: 60px;
}
.history-padding-left {
  padding-left: 45px;
  border-left: #E74040 solid 2px;
  text-align: left;
}
.history-padding-right {
  padding-right: 45px;
  border-right: #E74040 solid 2px;
  text-align: right;
}
.history-left {
  top: 30px;
  left: -6.75px;
}
.history-right {
  top: 30px;
  right: -6.75px;
}

.course {
  padding: 100px 0;
  background: url(/assets/img/Course/course-Background.png), #26335D;
  background-size: contain;
  background-position: bottom;
  background-repeat: no-repeat;
}
.course-heading {
  color: white;
  font-size: 68px;
  font-weight: 700;
  text-align: center;
  margin-top: 50px;
}
.course-line {
  content: "";
  width: 30%;
  height: 14px;
  background-color: #E74040;
  margin: 20px auto;
}
.course-background {
  width: 50%;
}
.course-main {
  padding: 10px 50px;
  width: 100%;
  display: grid;
  grid-template-columns: calc((100% - 150px) / 6) calc((100% - 150px) / 6) calc((100% - 150px) / 6) calc((100% - 150px) / 6) calc((100% - 150px) / 6) calc((100% - 150px) / 6);
  column-gap: 30px;
  row-gap: 30px;
  margin: 50px auto;
}
.course-main-btn {
  content: " ";
  width: 100%;
  height: 60px;
  border-radius: 10px;
  padding: 10px;
  background-color: #F5AB66;
  display: flex;
  align-items: center;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}
.course-main-btn a {
  color: white;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  width: 100%;
}
.course-main-btn:hover {
  background-color: #E74040;
  cursor: pointer;
}

#student-section {
  padding-top: 100px;
}

.student {
  background-color: white;
}
.student-line {
  content: "";
  width: 30%;
  height: 14px;
  background-color: #E74040;
  margin: 0 auto;
}
.student-heading {
  color: #26335D;
  font-size: 80px;
  font-weight: 700;
  text-align: center;
  margin-top: 50px;
}
.student-sub-heading {
  color: #E74040;
  font-weight: 400;
  text-align: center;
  margin-top: 10px;
}
.student-content {
  position: relative;
}
.student-content-text {
  -webkit-text-stroke: 2px #26335D;
  font-size: 80px;
  text-align: center;
  padding: 30px 0;
  margin-top: 60px;
}
.student-content-back {
  content: " ";
  width: 600px;
  height: 400px;
  background-color: #26335D;
  position: absolute;
  top: calc((100% - 500px) / 2);
  left: calc((100% - 600px) / 2);
  border-radius: 20px;
}
.student-content-back-top {
  display: flex;
  align-items: center;
  gap: 15px;
  padding-top: 25px;
  padding-left: 25px;
}
.student-content-back-top-img {
  height: 55px;
}
.student-content-back-top-text {
  padding-left: 15px;
  border-left: 2px solid white;
}
.student-content-back-top-text-1 {
  font-weight: 550;
  color: white;
  font-size: 14px;
}
.student-content-back-top-text-2 {
  font-weight: 550;
  color: white;
  font-size: 18px;
  padding-top: 2px;
}
.student-content-back-bottom {
  display: flex;
  align-items: center;
  padding: 0 20px;
  gap: 30px;
  margin-top: 40px;
}
.student-content-back-bottom-left {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.student-content-back-bottom-left-img {
  content: " ";
  width: 150px;
  height: 200px;
  border: rgba(255, 255, 255, 0.192) 1px dashed;
  border-radius: 5px;
  margin: 0 auto;
  margin-bottom: 15px;
  padding: 10px;
  font-size: 14px;
  align-items: center;
  justify-content: center;
  color: rgba(255, 255, 255, 0.192);
  cursor: pointer;
}
.student-content-back-bottom-left-img-over {
  border: rgba(255, 255, 255, 0.192) 1px solid;
}
.student-content-back-bottom-left-img__prompt {
  width: 100%;
  text-align: center;
  margin-top: 50%;
}
.student-content-back-bottom-left-img__input {
  display: none;
}
.student-content-back-bottom-left-img__thumb {
  content: "No image";
  width: 100%;
  height: 100%;
  border-radius: 5px;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.192);
  background-size: cover;
  background-position: center;
  position: relative;
}
.student-content-back-bottom-left-msv {
  position: relative;
  margin: 0 auto;
  padding: 0 20px;
}
.student-content-back-bottom-left-msv-input {
  border: 1px solid rgba(255, 255, 255, 0.192);
  border-radius: 5px;
  height: 30px;
  width: 100%;
  padding: 0 5%;
  background: none;
  transition: 0.25s ease;
  color: white;
  font-family: "Montserrat", sans-serif;
  text-align: center;
}
.student-content-back-bottom-left-msv-input:focus {
  border-color: white;
}
.student-content-back-bottom-left-msv-label {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: calc(5% + 20px);
  font-size: 10px;
  color: rgba(255, 255, 255, 0.192);
  pointer-events: none;
  transition: 0.25s ease;
}
.student-content-back-bottom-right {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.student-content-back-bottom-right-heading {
  width: 100%;
  font-weight: 700;
  color: white;
  font-size: 35px;
  text-align: center;
  padding-bottom: 2px;
}
.student-content-back-bottom-right-name {
  position: relative;
}
.student-content-back-bottom-right-name-input {
  border: 1px solid rgba(255, 255, 255, 0.192);
  border-radius: 5px;
  height: 40px;
  width: 100%;
  padding: 0 5%;
  background: none;
  transition: 0.25s ease;
  color: white;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: 550;
  text-transform: uppercase;
}
.student-content-back-bottom-right-name-input:focus {
  border-color: white;
}
.student-content-back-bottom-right-name-label {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 5%;
  font-size: 10px;
  color: rgba(255, 255, 255, 0.192);
  pointer-events: none;
  transition: 0.25s ease;
}
.student-content-back-bottom-right-infor {
  position: relative;
}
.student-content-back-bottom-right-infor-input {
  border: 1px solid rgba(255, 255, 255, 0.192);
  border-radius: 5px;
  height: 30px;
  width: 100%;
  padding: 0 5%;
  background: none;
  transition: 0.25s ease;
  color: white;
  font-family: "Montserrat", sans-serif;
}
.student-content-back-bottom-right-infor-input:focus {
  border-color: white;
}
.student-content-back-bottom-right-infor-label {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 5%;
  font-size: 10px;
  color: rgba(255, 255, 255, 0.192);
  pointer-events: none;
  transition: 0.25s ease;
}
.student-content-back-save {
  position: absolute;
  width: 150px;
  height: 35px;
  border-radius: 10px;
  background-color: #26335D;
  font-size: 14px;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  line-height: 35px;
  color: white;
  border: none;
  margin-top: 5px;
  top: calc((100% - 500px) / 2 + 400px);
  left: calc((100% - 150px) / 2);
}
.student-content-back-save:hover {
  opacity: 0.85;
}
.student-footer-img {
  width: 100%;
}

.student-content-back-bottom-left-msv-input:not(:placeholder-shown) + .student-content-back-bottom-left-msv-label,
.student-content-back-bottom-left-msv-input:focus + .student-content-back-bottom-left-msv-label {
  color: white;
  top: 0;
  font-size: 8px;
  display: inline-block;
  padding: 0 5px;
  background-color: #26335D;
}

.student-content-back-bottom-right-name-input:not(:placeholder-shown) + .student-content-back-bottom-right-name-label,
.student-content-back-bottom-right-name-input:focus + .student-content-back-bottom-right-name-label {
  color: white;
  top: 0;
  font-size: 8px;
  display: inline-block;
  padding: 0 5px;
  background-color: #26335D;
}

.student-content-back-bottom-right-infor-input:not(:placeholder-shown) + .student-content-back-bottom-right-infor-label,
.student-content-back-bottom-right-infor-input:focus + .student-content-back-bottom-right-infor-label {
  color: white;
  top: 0;
  font-size: 8px;
  display: inline-block;
  padding: 0 5px;
  background-color: #26335D;
}

#csvc-section {
  padding: 100px 0;
}

.csvc {
  background-color: #26335D;
  display: flex;
  justify-content: center;
  gap: 5%;
  position: relative;
}
.csvc-left {
  width: 35%;
}
.csvc-left-line {
  content: " ";
  width: 100%;
  height: 14px;
  background-color: #E74040;
  margin-top: 50px;
}
.csvc-left-heading {
  text-align: right;
  font-weight: 800;
  font-size: 64px;
  line-height: 80px;
  color: white;
  padding-top: 50px;
}
.csvc-left-more {
  font-weight: 700;
  font-size: 14px;
  text-align: right;
  color: white;
  padding: 15px 10px;
}
.csvc-right {
  width: 35%;
}
.csvc-right-img {
  width: 100%;
}

.contact-img {
  width: 100%;
}

.course-center {
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.4);
  align-items: center;
  z-index: 10;
}
.course-container {
  display: block;
  width: 60%;
  height: 20vw;
  margin: 50px auto;
  background-color: white;
  padding: 25px;
  border-radius: 30px;
  animation: modalFadeIn ease 0.5s;
}
.course-container-head {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.course-container-head-img {
  height: 100%;
  width: 25%;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  align-items: center;
}
.course-container-head-img-pic {
  width: 100%;
}
.course-container-head-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 75%;
}
.course-container-head-center-table {
  width: 100%;
  padding: 5px 25px;
  display: grid;
  grid-template-columns: 25% 35% 60%;
  row-gap: 5px;
}

.course-container-head-center h1 {
  font-size: 35px;
  font-weight: 700;
  color: #26335D;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  padding-top: 10px;
}

.course-container-head-center p {
  padding: 5px 25px;
  font-size: 10px;
  font-weight: 400;
  color: #26335D;
  text-align: justify;
}

.course-container-head-center-table h3 {
  color: black;
  font-size: 16px;
  font-weight: 700;
}

.course-container-head-center-table h4 {
  color: black;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
}

.open {
  display: flex;
}

#dientuvienthong h1, #kythuathoa h1, #tracdiabando h1,
#antoansuckhoe h1, #quanlytainguyen h1, #phantichdulieu h1 {
  font-size: 28px;
}

@keyframes modalFadeIn {
  from {
    opacity: 0;
    transform: translateY(-100px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
/* Tablet & Mobile */
@media only screen and (max-width: 64em) {
  .menu {
    display: none;
  }
  .menu-btn {
    display: block;
  }

  .header-container-btn {
    display: none;
  }
  .header-container-logo {
    padding-left: 30px;
  }

  .logo-back1, .logo-back2, .logo-back3 {
    display: none;
  }
}
/* Mobile */
@media only screen and (max-width: 49.9375em) {
  .header {
    height: 75px;
  }

  .home-back {
    transform: translateY(-50px);
  }

  .content {
    top: 120px;
    left: 6%;
  }
  .content-heading {
    font-size: 35px;
    line-height: 40px;
  }
  .content-sub-heading {
    font-size: 14px;
    margin: 10px 0;
  }
  .content-btn {
    width: 110px;
    padding: 10px 10px;
    font-size: 12px;
  }
  .content-btn i {
    font-size: 12px;
  }

  .logo {
    right: 40%;
    top: 125px;
  }
  .logo-front {
    width: 225px;
    height: 225px;
    box-shadow: 35px 25px #E74040;
    border-radius: 40px;
  }

  .information {
    gap: 0 10px;
    padding: 0 15px;
    margin-top: 45px;
  }
  .information-line {
    margin: 10px 0;
  }
  .information-box {
    min-height: 350px;
    padding: 20px 30px;
  }

  .history {
    background: url(/assets/img/History/background-tablet.png), white no-repeat;
    padding: 75px;
  }
  .history-heading {
    font-size: 48px;
  }
  .history-line {
    margin-bottom: 10px;
  }
  .history-top h1 {
    display: block;
  }
  .history-main {
    display: flex;
    flex-direction: column;
    gap: 10px 0;
  }
  .history-main-content {
    padding-top: 15px;
  }
  .history-main-content h3 {
    font-size: 28px;
  }
  .history-main-content p {
    font-size: 18px;
  }

  .none {
    display: none;
  }

  .course {
    padding-top: 50px;
    padding-bottom: 0;
  }
  .course-heading {
    font-size: 50px;
  }
  .course-main {
    grid-template-columns: calc((100% - 90px) / 4) calc((100% - 90px) / 4) calc((100% - 90px) / 4) calc((100% - 90px) / 4);
    margin: 30px auto;
    column-gap: 30px;
    row-gap: 30px;
  }
  .course-main-btn {
    height: 50px;
  }
  .course-main-btn a {
    font-size: 12px;
    line-height: 12px;
  }
  .course-container {
    width: 90%;
    height: 305px;
  }
  .course-container-head-center h1 {
    font-size: 32px;
  }
  .course-container-head-center p {
    padding-top: 10px;
    font-size: 12px;
  }
  .course-container-head-center-table h3 {
    font-size: 14px;
  }
  .course-container-head-center-table h4 {
    font-size: 12px;
    line-height: 16px;
  }

  #dientuvienthong h1, #kythuathoa h1, #tracdiabando h1,
#antoansuckhoe h1, #quanlytainguyen h1, #phantichdulieu h1 {
    font-size: 28px;
  }

  .student-heading {
    font-size: 60px;
  }

  .student-sub-heading {
    font-size: 30px;
  }

  .student-content-text {
    font-size: 55px;
  }

  .csvc-left {
    width: 50%;
  }
  .csvc-left-line {
    height: 5px;
    width: 100%;
  }
  .csvc-left-heading {
    font-size: 50px;
    line-height: 60px;
    padding-top: 30px;
  }
  .csvcright {
    width: 50%;
  }
}
/* Tablet */
@media only screen and (min-width: 50em) and (max-width: 64em) {
  .home-back {
    transform: translateY(-50px);
  }

  .content {
    top: 135px;
    left: 8%;
  }
  .content-heading {
    font-size: 40px;
    line-height: 40px;
  }
  .content-sub-heading {
    font-size: 15px;
    margin: 20px 0;
  }

  .logo {
    right: 40%;
    top: 125px;
  }
  .logo-front {
    width: 275px;
    height: 275px;
    box-shadow: 35px 25px #E74040;
  }

  .information {
    gap: 0 10px;
    padding: 0 30px;
    margin-top: 45px;
  }
  .information-line {
    margin: 10px 0;
  }
  .information-box {
    min-height: 340px;
  }

  .history {
    background: url(/assets/img/History/background-tablet.png), white no-repeat;
  }
  .history-heading {
    font-size: 52px;
  }

  .course-heading {
    font-size: 54px;
  }
  .course-main {
    grid-template-columns: calc((100% - 120px) / 5) calc((100% - 150px) / 5) calc((100% - 120px) / 5) calc((100% - 120px) / 5) calc((100% - 120px) / 5);
    margin: 20px auto;
  }
  .course-main-btn a {
    font-size: 12px;
  }
  .course-container {
    width: 85%;
    height: 32vw;
  }

  .student-content-text {
    font-size: 60px;
  }

  .csvc-left {
    width: 40%;
  }
  .csvc-left-line {
    height: 10px;
    width: 100%;
  }
  .csvc-left-heading {
    font-size: 58px;
    line-height: 60px;
    padding-top: 30px;
  }
  .csvcright {
    width: 40%;
  }
}
/* Small desktops and laptops */
@media only screen and (max-width: 71.875em) and (min-width: 64.0625em) {
  .header-container-logo {
    padding-left: 50px;
  }

  .content {
    top: 130px;
  }
  .content-heading {
    font-size: 50px;
    line-height: 50px;
  }

  .logo {
    right: 35%;
    top: 125px;
  }
  .logo-front {
    width: 300px;
    height: 300px;
    box-shadow: 35px 25px #E74040;
  }
  .logo-back1, .logo-back2, .logo-back3 {
    display: none;
  }

  .information {
    gap: 0 10px;
    padding: 0 30px;
    margin-top: 45px;
  }
  .information-line {
    margin: 10px 0;
  }
  .information-box {
    min-height: 340px;
  }

  .history {
    background: url(/assets/img/History/background-tablet.png), white no-repeat;
  }

  .course-container {
    width: 70%;
    height: 25vw;
  }

  .student-content-text {
    font-size: 60px;
  }
}
/* Large screens ----------- */
@media only screen and (min-width: 100em) and (max-width: 124.9375em) {
  .header {
    height: 125px;
  }
  .header-container-logo-img {
    height: 80px;
    padding-right: 10px;
  }
  .header-container-logo-heading {
    font-size: 40px;
    line-height: 42px;
  }
  .header-container-logo-sub {
    font-size: 24px;
    line-height: 28px;
  }
  .header-container-btn {
    padding: 20px 35px;
    border-radius: 15px;
    font-size: 22px;
  }

  .menu {
    gap: 40px;
  }
  .menu-item-link {
    font-size: 20px;
  }

  .content {
    top: 250px;
    left: 10%;
  }
  .content-heading {
    width: 800px;
    font-size: 80px;
    line-height: 80px;
  }
  .content-sub-heading {
    font-size: 35px;
    margin: 40px 0;
  }
  .content-btn {
    width: 200px;
    padding: 20px 30px;
    font-size: 20px;
  }

  .logo {
    right: 35%;
    top: 225px;
  }
  .logo-front {
    width: 425px;
    height: 425px;
    box-shadow: 35px 25px #E74040;
  }
  .logo-back1 {
    top: 400px;
    left: -625px;
    width: 125px;
    height: 125px;
    border-radius: 25px;
  }
  .logo-back2 {
    top: 300px;
    left: -375px;
    width: 70px;
    height: 70px;
    border-radius: 20px;
  }
  .logo-back3 {
    top: 0px;
    left: -150px;
    width: 125px;
    height: 125px;
    border-radius: 25px;
  }

  .information {
    gap: 0 50px;
    margin-top: 0px;
  }
  .information-line {
    margin: 10px 0;
  }
  .information-box {
    min-height: 400px;
  }
  .information-box-img {
    height: 85px;
  }
  .information-box-heading {
    font-size: 28px;
  }
  .information-box-line {
    height: 5px;
  }
  .information-box-text {
    font-size: 24px;
  }

  .history-heading {
    font-size: 78px;
  }
  .history-main-content {
    padding-top: 50px;
  }
  .history-main-content h3 {
    font-size: 38px;
  }
  .history-main-content p {
    font-size: 30px;
  }

  .history-main-heading h1 {
    font-size: 85px;
  }

  .course-heading {
    font-size: 78px;
  }
  .course-main {
    grid-template-columns: calc((100% - 375px) / 6) calc((100% - 375px) / 6) calc((100% - 375px) / 6) calc((100% - 375px) / 6) calc((100% - 375px) / 6) calc((100% - 375px) / 6);
    margin: 50px auto;
    column-gap: 75px;
    row-gap: 50px;
  }
  .course-main-btn {
    height: 75px;
  }
  .course-main-btn a {
    font-size: 18px;
    line-height: 20px;
  }
  .course-container {
    height: 25vw;
  }
  .course-container-head-center h1 {
    font-size: 50px;
  }
  .course-container-head-center p {
    padding-top: 10px;
    font-size: 16px;
  }
  .course-container-head-center-table h3 {
    font-size: 24px;
  }
  .course-container-head-center-table h4 {
    font-size: 18px;
    line-height: 22px;
  }

  #dientuvienthong h1, #kythuathoa h1, #tracdiabando h1,
#antoansuckhoe h1, #quanlytainguyen h1, #phantichdulieu h1 {
    font-size: 42px;
  }

  .student-heading {
    font-size: 92px;
  }

  .student-sub-heading {
    font-size: 50px;
  }

  .student-content-text {
    font-size: 80px;
  }

  .csvc-left-heading {
    font-size: 100px;
    line-height: 110px;
    padding-top: 100px;
  }
}
/* 4K screens ----------- */
@media only screen and (min-width: 125em) {
  .home-back {
    transform: translateY(-95px);
  }

  .header {
    height: 125px;
  }
  .header-container-logo-img {
    height: 80px;
    padding-right: 10px;
  }
  .header-container-logo-heading {
    font-size: 40px;
    line-height: 42px;
  }
  .header-container-logo-sub {
    font-size: 24px;
    line-height: 28px;
  }
  .header-container-btn {
    padding: 20px 35px;
    border-radius: 15px;
    font-size: 22px;
  }

  .menu {
    gap: 40px;
  }
  .menu-item-link {
    font-size: 22px;
  }

  .content {
    top: 300px;
    left: 5%;
  }
  .content-heading {
    width: 1000px;
    font-size: 100px;
    line-height: 105px;
  }
  .content-sub-heading {
    font-size: 45px;
    margin: 50px 0;
  }
  .content-btn {
    width: 275px;
    padding: 30px 35px;
    font-size: 28px;
  }

  .logo {
    right: 30%;
    top: 275px;
  }
  .logo-front {
    width: 520px;
    height: 520px;
    box-shadow: 35px 25px #E74040;
  }
  .logo-back1 {
    top: 450px;
    left: -900px;
    width: 150px;
    height: 150px;
    border-radius: 35px;
  }
  .logo-back2 {
    top: 400px;
    left: -650px;
    width: 70px;
    height: 70px;
    border-radius: 20px;
  }
  .logo-back3 {
    top: 100px;
    left: -300px;
    width: 150px;
    height: 150px;
    border-radius: 35px;
  }

  .information {
    gap: 0 50px;
    margin-top: -50px;
  }
  .information-line {
    margin: 10px 0;
  }
  .information-box {
    min-height: 450px;
  }
  .information-box-img {
    height: 100px;
  }
  .information-box-heading {
    font-size: 40px;
  }
  .information-box-line {
    height: 5px;
  }
  .information-box-text {
    font-size: 30px;
  }

  .history-heading {
    font-size: 100px;
  }
  .history-main-content {
    padding-top: 75px;
  }
  .history-main-content h3 {
    font-size: 50px;
  }
  .history-main-content p {
    font-size: 35px;
  }
  .history-main-content-point {
    width: 20px;
    height: 20px;
  }
  .history-padding-left {
    padding-left: 60px;
    border-left: #E74040 solid 3px;
  }
  .history-padding-right {
    padding-right: 60px;
    border-right: #E74040 solid 3px;
  }
  .history-left {
    top: 75px;
    left: -12.5px;
  }
  .history-right {
    top: 75px;
    right: -12.5px;
  }

  .history-main-heading h1 {
    font-size: 150px;
  }

  .course-heading {
    font-size: 100px;
  }
  .course-main {
    grid-template-columns: calc((100% - 375px) / 6) calc((100% - 375px) / 6) calc((100% - 375px) / 6) calc((100% - 375px) / 6) calc((100% - 375px) / 6) calc((100% - 375px) / 6);
    margin: 75px auto;
    column-gap: 75px;
    row-gap: 50px;
    padding: 0 100px;
  }
  .course-main-btn {
    height: 100px;
  }
  .course-main-btn a {
    font-size: 20px;
    line-height: 22px;
  }
  .course-container {
    height: 25vw;
  }
  .course-container-head-center h1 {
    font-size: 75px;
  }
  .course-container-head-center p {
    padding-top: 20px;
    font-size: 18px;
  }
  .course-container-head-center-table {
    padding-top: 20px;
  }
  .course-container-head-center-table h3 {
    font-size: 24px;
  }
  .course-container-head-center-table h4 {
    font-size: 18px;
    line-height: 22px;
  }

  #dientuvienthong h1, #kythuathoa h1, #tracdiabando h1,
#antoansuckhoe h1, #quanlytainguyen h1, #phantichdulieu h1 {
    font-size: 42px;
  }

  .student-heading {
    font-size: 100px;
  }

  .student-sub-heading {
    font-size: 65px;
  }

  .student-content-text {
    font-size: 85px;
  }

  .csvc-left-heading {
    font-size: 125px;
    line-height: 155px;
    padding-top: 100px;
  }
}

/*# sourceMappingURL=style.css.map */
